body {
  background-image: url("backgroundImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper{
	width: 50%;
	height: fit-content;
	background-color: white;
	padding: 20px;
	vertical-align: middle;
	margin-left: auto;
  	margin-right: auto;
  	border-radius: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li {
  padding: 10px 2px 12px 10px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  position: relative;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

.edit{
	right: 0;
    top: 0;
    padding: 12px 8px 10px 8px;
    color: black;
    position: absolute;
    margin-right: 60px;
}

.edit:hover {
  background-color: #345f69;
  color: white;
  cursor: pointer;
}

.remove {
  right: 0;
  top: 0;
  padding: 12px 8px 10px 8px;
  color: black;
  margin-left: 80px;
}

.remove:hover {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.check {
  right: 30px;
  top: 0;
  padding: 12px 8px 10px 8px;
  color: black;
  margin-left: 80px;
}

.check:hover {
  background-color: #24b323;
  color: white;
  cursor: pointer;
}


input[type="text"] {
  width: 97%;
  padding: 8px;
  margin: 2px 0 10px 0;
  border: none;
  background: #f1f1f1;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#addBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 5px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

h2{
	text-align: center;
}

.warning {
  padding: 6px;
  background-color: #ec9b8e;
  color: black;
  position: relative;
}

.remove_warning{
  right: 0;
  top: 0;
  position: absolute;
  color: black;
  padding: 5px 10px 5px 10px;
}

.remove_warning:hover {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}
